<div class="login-container">
<mat-card [@fadeInOut]>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </mat-card-content>
</mat-card>
</div>